@import '../scss/mixin.scss';

.output {
    padding: 20px 50px 50px;
}
.list {
    margin: 0 0 30px;
    li {
        margin: 0 0 40px;
    }
    .image {
        display: inline-block;
        vertical-align: top;
        margin: 0 20px 7px 0;
        width: 16%;
        .thumbnail {
            display: block;
            max-width: 480px;
            width: 100%;
            height: auto;
        }
    }
    .copy {
        display: inline-block;
        vertical-align: top;
        width: 80%;
        .title {
            margin: 0 0 14px;
            font-size: 20px;
            @include font-basic;
        }
        .description {
            margin: 0 0 12px;
            font-size: 16px;
            @include font-basic;
        }
    }
    .tags {
        font-size: 12px;
        @include font-basic;
        line-height: normal;
    }
}


@media only screen and (max-width: 768px) {
    .output {
        padding: 20px 14px 50px;
    }
    .list {
        li {
        }
        .image {
            display: block;
            margin: 0 auto 20px;
            .thumbnail {
                max-width: 320px;
                width: 100%;
                margin: 0 auto;
            }
        }
        .copy {
            display: block;
            width: 100%;
            .title {
            }
            .description {
            }
        }
        .tags {
        }
    }
}
