@import '../scss/variables.scss';

p {
    padding: 20px 50px 50px;
}
.status {
        
}
.warning {

}
.error {
    color: $red;
}

@media only screen and (max-width: 768px) {
    p {
        
    }
    .status {
        
    }
    .warning {

    }
    .error {
        color: $red;
    }
}
