@import '../scss/variables.scss';

.warning,
.error {
    padding: 20px 50px 50px;
}
.error {
    color: $red;
}

@media only screen and (max-width: 768px) {
    .warning,
    .error {
        padding: 20px 50px 50px;
    }
    .error {
        color: $red;
    }
}
